In [65]:
import pandas as pd
import numpy as np
import seaborn as sns

In [66]:
mpg = sns.load_dataset('mpg')

In [68]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [69]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null object
name            398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [70]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [71]:
mpg.describe(exclude = 'number')

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

## Soal 1

In [72]:
mpg.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [74]:
sum(mpg['horsepower'].isna())

6

In [24]:
na_dict ={}
for i in mpg.columns:
    na_dict[i] = sum(mpg[i].isna())
pd.Series(na_dict, name = 'Null Value Count')

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
Name: Null Value Count, dtype: int64

In [77]:
mpg.isna().any()

mpg             False
cylinders       False
displacement    False
horsepower       True
weight          False
acceleration    False
model_year      False
origin          False
name            False
dtype: bool

In [30]:
ser = mpg.isna().sum()
ser.name = 'Null Value Count'
ser

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
Name: Null Value Count, dtype: int64

## Soal 2

In [31]:
mpg[mpg['horsepower'].isna()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [78]:
horse_na = mpg[mpg['horsepower'].isna()].index

In [80]:
mpg.groupby('origin').mean()['horsepower']

origin
europe     80.558824
japan      79.835443
usa       119.048980
Name: horsepower, dtype: float64

In [33]:
origin_mean = mpg.groupby('origin').mean()['horsepower']
def fillna_origin(cols):
    if pd.isna(cols['horsepower']):
        return round(origin_mean[cols['origin']])
    else:
        return cols['horsepower']

In [81]:
mpg[['horsepower', 'origin']].apply(print, axis = 1)

horsepower    130
origin        usa
Name: 0, dtype: object
horsepower    165
origin        usa
Name: 1, dtype: object
horsepower    150
origin        usa
Name: 2, dtype: object
horsepower    150
origin        usa
Name: 3, dtype: object
horsepower    140
origin        usa
Name: 4, dtype: object
horsepower    198
origin        usa
Name: 5, dtype: object
horsepower    220
origin        usa
Name: 6, dtype: object
horsepower    215
origin        usa
Name: 7, dtype: object
horsepower    225
origin        usa
Name: 8, dtype: object
horsepower    190
origin        usa
Name: 9, dtype: object
horsepower    170
origin        usa
Name: 10, dtype: object
horsepower    160
origin        usa
Name: 11, dtype: object
horsepower    150
origin        usa
Name: 12, dtype: object
horsepower    225
origin        usa
Name: 13, dtype: object
horsepower       95
origin        japan
Name: 14, dtype: object
horsepower     95
origin        usa
Name: 15, dtype: object
horsepower     97
origin        usa
Name: 16, dtype: object
horsepower     85
origin        usa
Name: 17, dtype: object
horsepower       88
origin        japan
Name: 18, dtype: object
horsepower        46
origin        europe
Name: 19, dtype: object
horsepower        87
origin        europe
Name: 20, dtype: object
horsepower        90
origin        europe
Name: 21, dtype: object
horsepower        95
origin        europe
Name: 22, dtype: object
horsepower       113
origin        europe
Name: 23, dtype: object
horsepower     90
origin        usa
Name: 24, dtype: object
horsepower    215
origin        usa
Name: 25, dtype: object
horsepower    200
origin        usa
Name: 26, dtype: object
horsepower    210
origin        usa
Name: 27, dtype: object
horsepower    193
origin        usa
Name: 28, dtype: object
horsepower       88
origin        japan
Name: 29, dtype: object
horsepower     90
origin        usa
Name: 30, dtype: object
horsepower       95
origin        japan
Name: 31, dtype: object
horsepower    NaN
origin        usa
Name: 32, dtype: object
horsepower    100
origin        usa
Name: 33, dtype: object
horsepower    105
origin        usa
Name: 34, dtype: object
horsepower    100
origin        usa
Name: 35, dtype: object
horsepower     88
origin        usa
Name: 36, dtype: object
horsepower    100
origin        usa
Name: 37, dtype: object
horsepower    165
origin        usa
Name: 38, dtype: object
horsepower    175
origin        usa
Name: 39, dtype: object
horsepower    153
origin        usa
Name: 40, dtype: object
horsepower    150
origin        usa
Name: 41, dtype: object
horsepower    180
origin        usa
Name: 42, dtype: object
horsepower    170
origin        usa
Name: 43, dtype: object
horsepower    175
origin        usa
Name: 44, dtype: object
horsepower    110
origin        usa
Name: 45, dtype: object
horsepower     72
origin        usa
Name: 46, dtype: object
horsepower    100
origin        usa
Name: 47, dtype: object
horsepower     88
origin        usa
Name: 48, dtype: object
horsepower     86
origin        usa
Name: 49, dtype: object
horsepower        90
origin        europe
Name: 50, dtype: object
horsepower        70
origin        europe
Name: 51, dtype: object
horsepower        76
origin        europe
Name: 52, dtype: object
horsepower       65
origin        japan
Name: 53, dtype: object
horsepower       69
origin        japan
Name: 54, dtype: object
horsepower        60
origin        europe
Name: 55, dtype: object
horsepower     70
origin        usa
Name: 56, dtype: object
horsepower       95
origin        japan
Name: 57, dtype: object
horsepower     80
origin        usa
Name: 58, dtype: object
horsepower        54
origin        europe
Name: 59, dtype: object
horsepower     90
origin        usa
Name: 60, dtype: object
horsepower     86
origin        usa
Name: 61, dtype: object
horsepower    165
origin        usa
Name: 62, dtype: object
horsepower    175
origin        usa
Name: 63, dtype: object
horsepower    150
origin        usa
Name: 64, dtype: object
horsepower    153
origin        usa
Name: 65, dtype: object
horsepower    150
origin        usa
Name: 66, dtype: object
horsepower    208
origin        usa
Name: 67, dtype: object
horsepower    155
origin        usa
Name: 68, dtype: object
horsepower    160
origin        usa
Name: 69, dtype: object
horsepower    190
origin        usa
Name: 70, dtype: object
horsepower       97
origin        japan
Name: 71, dtype: object
horsepower    150
origin        usa
Name: 72, dtype: object
horsepower    130
origin        usa
Name: 73, dtype: object
horsepower    140
origin        usa
Name: 74, dtype: object
horsepower    150
origin        usa
Name: 75, dtype: object
horsepower       112
origin        europe
Name: 76, dtype: object
horsepower        76
origin        europe
Name: 77, dtype: object
horsepower        87
origin        europe
Name: 78, dtype: object
horsepower        69
origin        europe
Name: 79, dtype: object
horsepower     86
origin        usa
Name: 80, dtype: object
horsepower       92
origin        japan
Name: 81, dtype: object
horsepower       97
origin        japan
Name: 82, dtype: object
horsepower     80
origin        usa
Name: 83, dtype: object
horsepower       88
origin        japan
Name: 84, dtype: object
horsepower    175
origin        usa
Name: 85, dtype: object
horsepower    150
origin        usa
Name: 86, dtype: object
horsepower    145
origin        usa
Name: 87, dtype: object
horsepower    137
origin        usa
Name: 88, dtype: object
horsepower    150
origin        usa
Name: 89, dtype: object
horsepower    198
origin        usa
Name: 90, dtype: object
horsepower    150
origin        usa
Name: 91, dtype: object
horsepower    158
origin        usa
Name: 92, dtype: object
horsepower    150
origin        usa
Name: 93, dtype: object
horsepower    215
origin        usa
Name: 94, dtype: object
horsepower    225
origin        usa
Name: 95, dtype: object
horsepower    175
origin        usa
Name: 96, dtype: object
horsepower    105
origin        usa
Name: 97, dtype: object
horsepower    100
origin        usa
Name: 98, dtype: object
horsepower    100
origin        usa
Name: 99, dtype: object
horsepower     88
origin        usa
Name: 100, dtype: object
horsepower     95
origin        usa
Name: 101, dtype: object
horsepower        46
origin        europe
Name: 102, dtype: object
horsepower    150
origin        usa
Name: 103, dtype: object
horsepower    167
origin        usa
Name: 104, dtype: object
horsepower    170
origin        usa
Name: 105, dtype: object
horsepower    180
origin        usa
Name: 106, dtype: object
horsepower    100
origin        usa
Name: 107, dtype: object
horsepower       88
origin        japan
Name: 108, dtype: object
horsepower     72
origin        usa
Name: 109, dtype: object
horsepower       94
origin        japan
Name: 110, dtype: object
horsepower       90
origin        japan
Name: 111, dtype: object
horsepower     85
origin        usa
Name: 112, dtype: object
horsepower    107
origin        usa
Name: 113, dtype: object
horsepower        90
origin        europe
Name: 114, dtype: object
horsepower    145
origin        usa
Name: 115, dtype: object
horsepower    230
origin        usa
Name: 116, dtype: object
horsepower        49
origin        europe
Name: 117, dtype: object
horsepower        75
origin        europe
Name: 118, dtype: object
horsepower        91
origin        europe
Name: 119, dtype: object
horsepower       112
origin        europe
Name: 120, dtype: object
horsepower    150
origin        usa
Name: 121, dtype: object
horsepower       110
origin        europe
Name: 122, dtype: object
horsepower      122
origin        japan
Name: 123, dtype: object
horsepower    180
origin        usa
Name: 124, dtype: object
horsepower     95
origin        usa
Name: 125, dtype: object
horsepower    NaN
origin        usa
Name: 126, dtype: object
horsepower    100
origin        usa
Name: 127, dtype: object
horsepower    100
origin        usa
Name: 128, dtype: object
horsepower       67
origin        japan
Name: 129, dtype: object
horsepower     80
origin        usa
Name: 130, dtype: object
horsepower       65
origin        japan
Name: 131, dtype: object
horsepower     75
origin        usa
Name: 132, dtype: object
horsepower    100
origin        usa
Name: 133, dtype: object
horsepower    110
origin        usa
Name: 134, dtype: object
horsepower    105
origin        usa
Name: 135, dtype: object
horsepower    140
origin        usa
Name: 136, dtype: object
horsepower    150
origin        usa
Name: 137, dtype: object
horsepower    150
origin        usa
Name: 138, dtype: object
horsepower    140
origin        usa
Name: 139, dtype: object
horsepower    150
origin        usa
Name: 140, dtype: object
horsepower        83
origin        europe
Name: 141, dtype: object
horsepower        67
origin        europe
Name: 142, dtype: object
horsepower        78
origin        europe
Name: 143, dtype: object
horsepower       52
origin        japan
Name: 144, dtype: object
horsepower       61
origin        japan
Name: 145, dtype: object
horsepower     75
origin        usa
Name: 146, dtype: object
horsepower        75
origin        europe
Name: 147, dtype: object
horsepower        75
origin        europe
Name: 148, dtype: object
horsepower       97
origin        japan
Name: 149, dtype: object
horsepower       93
origin        japan
Name: 150, dtype: object
horsepower        67
origin        europe
Name: 151, dtype: object
horsepower     95
origin        usa
Name: 152, dtype: object
horsepower    105
origin        usa
Name: 153, dtype: object
horsepower     72
origin        usa
Name: 154, dtype: object
horsepower     72
origin        usa
Name: 155, dtype: object
horsepower    170
origin        usa
Name: 156, dtype: object
horsepower    145
origin        usa
Name: 157, dtype: object
horsepower    150
origin        usa
Name: 158, dtype: object
horsepower    148
origin        usa
Name: 159, dtype: object
horsepower    110
origin        usa
Name: 160, dtype: object
horsepower    105
origin        usa
Name: 161, dtype: object
horsepower    110
origin        usa
Name: 162, dtype: object
horsepower     95
origin        usa
Name: 163, dtype: object
horsepower    110
origin        usa
Name: 164, dtype: object
horsepower    110
origin        usa
Name: 165, dtype: object
horsepower    129
origin        usa
Name: 166, dtype: object
horsepower       75
origin        japan
Name: 167, dtype: object
horsepower     83
origin        usa
Name: 168, dtype: object
horsepower    100
origin        usa
Name: 169, dtype: object
horsepower     78
origin        usa
Name: 170, dtype: object
horsepower       96
origin        japan
Name: 171, dtype: object
horsepower        71
origin        europe
Name: 172, dtype: object
horsepower       97
origin        japan
Name: 173, dtype: object
horsepower     97
origin        usa
Name: 174, dtype: object
horsepower        70
origin        europe
Name: 175, dtype: object
horsepower     90
origin        usa
Name: 176, dtype: object
horsepower        95
origin        europe
Name: 177, dtype: object
horsepower        88
origin        europe
Name: 178, dtype: object
horsepower        98
origin        europe
Name: 179, dtype: object
horsepower       115
origin        europe
Name: 180, dtype: object
horsepower       53
origin        japan
Name: 181, dtype: object
horsepower        86
origin        europe
Name: 182, dtype: object
horsepower        81
origin        europe
Name: 183, dtype: object
horsepower     92
origin        usa
Name: 184, dtype: object
horsepower     79
origin        usa
Name: 185, dtype: object
horsepower        83
origin        europe
Name: 186, dtype: object
horsepower    140
origin        usa
Name: 187, dtype: object
horsepower    150
origin        usa
Name: 188, dtype: object
horsepower    120
origin        usa
Name: 189, dtype: object
horsepower    152
origin        usa
Name: 190, dtype: object
horsepower    100
origin        usa
Name: 191, dtype: object
horsepower    105
origin        usa
Name: 192, dtype: object
horsepower     81
origin        usa
Name: 193, dtype: object
horsepower     90
origin        usa
Name: 194, dtype: object
horsepower     52
origin        usa
Name: 195, dtype: object
horsepower     60
origin        usa
Name: 196, dtype: object
horsepower        70
origin        europe
Name: 197, dtype: object
horsepower       53
origin        japan
Name: 198, dtype: object
horsepower    100
origin        usa
Name: 199, dtype: object
horsepower     78
origin        usa
Name: 200, dtype: object
horsepower    110
origin        usa
Name: 201, dtype: object
horsepower     95
origin        usa
Name: 202, dtype: object
horsepower        71
origin        europe
Name: 203, dtype: object
horsepower       70
origin        japan
Name: 204, dtype: object
horsepower       75
origin        japan
Name: 205, dtype: object
horsepower     72
origin        usa
Name: 206, dtype: object
horsepower       102
origin        europe
Name: 207, dtype: object
horsepower    150
origin        usa
Name: 208, dtype: object
horsepower        88
origin        europe
Name: 209, dtype: object
horsepower      108
origin        japan
Name: 210, dtype: object
horsepower       120
origin        europe
Name: 211, dtype: object
horsepower    180
origin        usa
Name: 212, dtype: object
horsepower    145
origin        usa
Name: 213, dtype: object
horsepower    130
origin        usa
Name: 214, dtype: object
horsepower    150
origin        usa
Name: 215, dtype: object
horsepower       68
origin        japan
Name: 216, dtype: object
horsepower     80
origin        usa
Name: 217, dtype: object
horsepower        58
origin        europe
Name: 218, dtype: object
horsepower     96
origin        usa
Name: 219, dtype: object
horsepower       70
origin        japan
Name: 220, dtype: object
horsepower    145
origin        usa
Name: 221, dtype: object
horsepower    110
origin        usa
Name: 222, dtype: object
horsepower    145
origin        usa
Name: 223, dtype: object
horsepower    130
origin        usa
Name: 224, dtype: object
horsepower    110
origin        usa
Name: 225, dtype: object
horsepower    105
origin        usa
Name: 226, dtype: object
horsepower    100
origin        usa
Name: 227, dtype: object
horsepower     98
origin        usa
Name: 228, dtype: object
horsepower    180
origin        usa
Name: 229, dtype: object
horsepower    170
origin        usa
Name: 230, dtype: object
horsepower    190
origin        usa
Name: 231, dtype: object
horsepower    149
origin        usa
Name: 232, dtype: object
horsepower        78
origin        europe
Name: 233, dtype: object
horsepower     88
origin        usa
Name: 234, dtype: object
horsepower       75
origin        japan
Name: 235, dtype: object
horsepower     89
origin        usa
Name: 236, dtype: object
horsepower     63
origin        usa
Name: 237, dtype: object
horsepower     83
origin        usa
Name: 238, dtype: object
horsepower       67
origin        japan
Name: 239, dtype: object
horsepower        78
origin        europe
Name: 240, dtype: object
horsepower       97
origin        japan
Name: 241, dtype: object
horsepower       110
origin        europe
Name: 242, dtype: object
horsepower      110
origin        japan
Name: 243, dtype: object
horsepower        48
origin        europe
Name: 244, dtype: object
horsepower     66
origin        usa
Name: 245, dtype: object
horsepower       52
origin        japan
Name: 246, dtype: object
horsepower       70
origin        japan
Name: 247, dtype: object
horsepower       60
origin        japan
Name: 248, dtype: object
horsepower    110
origin        usa
Name: 249, dtype: object
horsepower    140
origin        usa
Name: 250, dtype: object
horsepower    139
origin        usa
Name: 251, dtype: object
horsepower    105
origin        usa
Name: 252, dtype: object
horsepower     95
origin        usa
Name: 253, dtype: object
horsepower     85
origin        usa
Name: 254, dtype: object
horsepower     88
origin        usa
Name: 255, dtype: object
horsepower    100
origin        usa
Name: 256, dtype: object
horsepower     90
origin        usa
Name: 257, dtype: object
horsepower    105
origin        usa
Name: 258, dtype: object
horsepower     85
origin        usa
Name: 259, dtype: object
horsepower    110
origin        usa
Name: 260, dtype: object
horsepower    120
origin        usa
Name: 261, dtype: object
horsepower    145
origin        usa
Name: 262, dtype: object
horsepower    165
origin        usa
Name: 263, dtype: object
horsepower    139
origin        usa
Name: 264, dtype: object
horsepower    140
origin        usa
Name: 265, dtype: object
horsepower     68
origin        usa
Name: 266, dtype: object
horsepower       95
origin        japan
Name: 267, dtype: object
horsepower       97
origin        japan
Name: 268, dtype: object
horsepower     75
origin        usa
Name: 269, dtype: object
horsepower       95
origin        japan
Name: 270, dtype: object
horsepower    105
origin        usa
Name: 271, dtype: object
horsepower     85
origin        usa
Name: 272, dtype: object
horsepower       97
origin        japan
Name: 273, dtype: object
horsepower       103
origin        europe
Name: 274, dtype: object
horsepower       125
origin        europe
Name: 275, dtype: object
horsepower       115
origin        europe
Name: 276, dtype: object
horsepower       133
origin        europe
Name: 277, dtype: object
horsepower        71
origin        europe
Name: 278, dtype: object
horsepower       68
origin        japan
Name: 279, dtype: object
horsepower    115
origin        usa
Name: 280, dtype: object
horsepower     85
origin        usa
Name: 281, dtype: object
horsepower     88
origin        usa
Name: 282, dtype: object
horsepower     90
origin        usa
Name: 283, dtype: object
horsepower    110
origin        usa
Name: 284, dtype: object
horsepower    130
origin        usa
Name: 285, dtype: object
horsepower    129
origin        usa
Name: 286, dtype: object
horsepower    138
origin        usa
Name: 287, dtype: object
horsepower    135
origin        usa
Name: 288, dtype: object
horsepower    155
origin        usa
Name: 289, dtype: object
horsepower    142
origin        usa
Name: 290, dtype: object
horsepower    125
origin        usa
Name: 291, dtype: object
horsepower    150
origin        usa
Name: 292, dtype: object
horsepower        71
origin        europe
Name: 293, dtype: object
horsepower       65
origin        japan
Name: 294, dtype: object
horsepower     80
origin        usa
Name: 295, dtype: object
horsepower     80
origin        usa
Name: 296, dtype: object
horsepower        77
origin        europe
Name: 297, dtype: object
horsepower    125
origin        usa
Name: 298, dtype: object
horsepower        71
origin        europe
Name: 299, dtype: object
horsepower     90
origin        usa
Name: 300, dtype: object
horsepower     70
origin        usa
Name: 301, dtype: object
horsepower     70
origin        usa
Name: 302, dtype: object
horsepower       65
origin        japan
Name: 303, dtype: object
horsepower        69
origin        europe
Name: 304, dtype: object
horsepower     90
origin        usa
Name: 305, dtype: object
horsepower    115
origin        usa
Name: 306, dtype: object
horsepower    115
origin        usa
Name: 307, dtype: object
horsepower     90
origin        usa
Name: 308, dtype: object
horsepower        76
origin        europe
Name: 309, dtype: object
horsepower       60
origin        japan
Name: 310, dtype: object
horsepower     70
origin        usa
Name: 311, dtype: object
horsepower       65
origin        japan
Name: 312, dtype: object
horsepower     90
origin        usa
Name: 313, dtype: object
horsepower     88
origin        usa
Name: 314, dtype: object
horsepower     90
origin        usa
Name: 315, dtype: object
horsepower     90
origin        usa
Name: 316, dtype: object
horsepower        78
origin        europe
Name: 317, dtype: object
horsepower       90
origin        japan
Name: 318, dtype: object
horsepower       75
origin        japan
Name: 319, dtype: object
horsepower       92
origin        japan

0      None
1      None
2      None
3      None
4      None
       ...
393    None
394    None
395    None
396    None
397    None
Length: 398, dtype: object

In [34]:
mpg['horsepower'] = mpg[['horsepower', 'origin']].apply(fillna_origin, axis =1)

In [35]:
mpg.loc[horse_na]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,119.0,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,119.0,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,81.0,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,119.0,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,81.0,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,119.0,3035,20.5,82,usa,amc concord dl

## Soal 3

In [36]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [37]:
#If the horsepower is lower and equal to 105, then it is lower. If it is higher tahn 105 then it is upper
def add_horse_origin(x):
    if x['horsepower'] <=105:
        return 'lower {}'.format(x['origin'])
    else:
        return 'upper {}'.format(x['origin'])

In [38]:
mpg['horse_origin'] = mpg[['horsepower', 'origin']].apply(add_horse_origin, axis = 1)

In [39]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower usa

In [40]:
mpg['horse_origin'].value_counts()

lower usa       125
upper usa       124
lower japan      73
lower europe     60
upper europe     10
upper japan       6
Name: horse_origin, dtype: int64

## Soal 4

In [41]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa

In [83]:
# Disini dibuat aggregate dari statistik dasar yang telah digroupby berdasarkan origin
mpg_origin = mpg.groupby('origin').agg(['mean','std', 'sum', 'count', 'min', 'max'])

In [86]:
mpg_origin['horsepower'].reset_index()

   origin        mean        std      sum  count   min    max
0  europe   80.558824  20.157871   5478.0     68  46.0  133.0
1   japan   79.835443  17.819199   6307.0     79  52.0  132.0
2     usa  119.048980  39.897790  29167.0    245  52.0  230.0

In [53]:
#Disini dibuat merge event untuk mpg dan aggregate khusus origin saja
group_agg = mpg_origin['horsepower'].copy()
pd.merge(mpg, group_agg.reset_index(), on = 'origin')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin,mean,std,sum,count,min,max
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,34.5,4,100.0,81.0,2320,15.8,81,europe,renault 18i,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
394,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
395,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
396,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
397,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0

In [58]:
mpg_origin

              mpg                                     cylinders            \
             mean       std     sum count   min   max      mean       std
origin
europe  27.891429  6.723930  1952.4    70  16.2  44.3  4.157143  0.500310
japan   30.450633  6.090048  2405.6    79  18.0  46.6  4.101266  0.590414
usa     20.083534  6.402892  5000.8   249   9.0  39.0  6.248996  1.661425

                    ... acceleration                   model_year            \
         sum count  ...          sum count   min   max       mean       std
origin              ...
europe   291    70  ...       1175.1    70  12.2  24.8  75.814286  3.469506
japan    324    79  ...       1277.6    79  11.4  21.0  77.443038  3.650595
usa     1556   249  ...       3743.4   249   8.0  22.2  75.610442  3.677094


          sum count min max
origin
europe   5307    70  70  82
japan    6118    79  70  82
usa     18827   249  70  82

[3 rows x 42 columns]

In [93]:
['{}_origin_{}'.format('mpg', stat) for stat in group_agg.columns]

['mpg_origin_mean',
 'mpg_origin_std',
 'mpg_origin_sum',
 'mpg_origin_count',
 'mpg_origin_min',
 'mpg_origin_max']

In [92]:
group_agg = mpg_origin['mpg']
group_agg.columns

Index(['mean', 'std', 'sum', 'count', 'min', 'max'], dtype='object')

In [94]:
group_agg.columns = ['{}_origin_{}'.format('mpg', stat) for stat in group_agg.columns]
group_agg.columns

Index(['mpg_origin_mean', 'mpg_origin_std', 'mpg_origin_sum',
       'mpg_origin_count', 'mpg_origin_min', 'mpg_origin_max'],
      dtype='object')

In [95]:
group_agg

,mpg_origin_mean,mpg_origin_std,mpg_origin_sum,mpg_origin_count,mpg_origin_min,mpg_origin_max
origin,,,,,,
europe,27.891429,6.723930,1952.4,70,16.2,44.3
japan,30.450633,6.090048,2405.6,79,18.0,46.6
usa,20.083534,6.402892,5000.8,249,9.0,39.0

In [60]:
for i in mpg.select_dtypes('number').columns:
    group_agg = mpg_origin[i]
    group_agg.columns = ['{}_origin_{}'.format(i, stat) for stat in group_agg.columns]
    mpg = pd.merge(mpg, group_agg.reset_index(), on = 'origin')

In [89]:
mpg.select_dtypes('number').columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year'],
      dtype='object')

In [62]:
pd.set_option('display.max_columns', None)

In [63]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin,mpg_origin_mean,mpg_origin_std,mpg_origin_sum,mpg_origin_count,mpg_origin_min,mpg_origin_max,cylinders_origin_mean,cylinders_origin_std,cylinders_origin_sum,cylinders_origin_count,cylinders_origin_min,cylinders_origin_max,displacement_origin_mean,displacement_origin_std,displacement_origin_sum,displacement_origin_count,displacement_origin_min,displacement_origin_max,horsepower_origin_mean,horsepower_origin_std,horsepower_origin_sum,horsepower_origin_count,horsepower_origin_min,horsepower_origin_max,weight_origin_mean,weight_origin_std,weight_origin_sum,weight_origin_count,weight_origin_min,weight_origin_max,acceleration_origin_mean,acceleration_origin_std,acceleration_origin_sum,acceleration_origin_count,acceleration_origin_min,acceleration_origin_max,model_year_origin_mean,model_year_origin_std,model_year_origin_sum,model_year_origin_count,model_year_origin_min,model_year_origin_max
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,34.5,4,100.0,81.0,2320,15.8,81,europe,renault 18i,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
394,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
395,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
396,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
397,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82